{% extends "base.html" %}
{% block content %}

<h3 class="deep-orange-text text-darken-4 center-align">All Reviews</h3>


    <ul class="collapsible popout">
      {% for review in reviews %}
        <li>
          <div class="collapsible-header white-text deep-orange darken-4 text-shadow">
            <i class="fas fa-hand-point-down"></i>
            <strong>{{ review.game_reviewed }}</strong> : {{ review.review_post_date }}
          </div>
          <div class="collapsible-body">
           <strong>{{ review.genre_type }}</strong>
           <p> {{ review.review_description }}</p>
           <p><em>by: {{ review.created_by }}</em></p>
          </div>
        </li>
        {% endfor %}
      </ul>

  {% endblock %}